.bottom{
    display: flex;
    flex-direction: row;
}

.contents-category{
    display: flex;

}

.contents-category div{
    display: flex;
    white-space: nowrap;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 10px;
}