.video-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video{
    flex: 1 1 300px;
    margin: 10px;
}

.video-top{
    width: 100%;
    border-radius: 10px;
}

.video-bottom{
    display: flex;
}

.youtuber{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.title{
    font-size: 13px;
    margin: 0;
}

.channel, .info{
    font-size: 10px;
    margin: 0;
}