*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.header-left,
.header-middle,
.header-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.search{
    display: flex;
    /* width: 40vw; */
}

.search-text{
    margin-right: 15px;
    border: rgb(185, 185, 185) 1px solid;
    border-radius: 30px;
}

.search-button{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50px;
}

.mic{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50px;
}

.make{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border: 0;
    border-radius: 50px;
}

.bell{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50px;
}

.profile{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50px;    
}